<!-- <h3>Descúbrete, existe, funciona</h3> -->
<!-- <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->

<div style='text-align:center;'>
<h2>0) Súmate a la acción colectiva</h2></div>

<div style='text-align:center;'>
<h3>1) Visualización explicativa del proceso</h3>
Idea > descúbrete > existe > funciona > incide</div>

<!-- Agregar 3 calugas en paralelo -->

<!-- Agregar frase explicativa del proyecto -->
<div style='text-align:center;'>
<h3>¿Por qué crear una organización civil?</h3>
- No hay nadie que esté haciendo esto.</br>
- Hay otros que están haciendo esto, pero con un enfoque y actividades diferentes. Nosotros lo podríamos hacer mejor.</br>
- Porque queremos.</div>

<!-- Agregar video embed del video de los pescados vimeo.com/43283294 -->