<!-- <h3>Descúbrete, existe, funciona</h3> -->
<!-- <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->

<div class="text-center">
  <h2>Súmate a la acción colectiva</h2>
</div>

<div class="text-center">
  <h3>Visualización explicativa del proceso</h3>
  <p>
    Idea > descúbrete > existe > funciona > incide
  </p>
</div>

<!-- Agregar 3 calugas en paralelo -->
<div class="row">
  <div class="col-md-4 text-center main-box">
    <div class="descubre">
      <h4>Descúbrete</h4>
    </div>
  </div>
  <div class="col-md-4 text-center main-box">
    <div class="existe">
      <h4>Existe</h4>
    </div>
  </div>
  <div class="col-md-4 text-center main-box">
    <div class="funciona">
      <h4>Funciona</h4>
    </div>
  </div>
</div>

<!-- Agregar frase explicativa del proyecto -->
<div class="text-center">
  <p>Promovemos la asociatividad entre los ciudadanos, para que desde la sociedad civil organizada se pueda dar impulso a los cambios que queremos.</p>

  <iframe src="//player.vimeo.com/video/43283294" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/43283294">Súmate a la acción colectiva | Ciudadano Inteligente 2012</a> from <a href="http://vimeo.com/ciudadanointeligente">Fundaci&oacute;n Ciudadano Inteligente</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

<!-- Agregar video embed del video de los pescados vimeo.com/43283294 -->