<!-- <h3>Descúbrete, existe, funciona</h3> -->
<!-- <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->

<div style='text-align:center;'>
  <h2>0) Súmate a la acción colectiva</h2>
</div>

<div style='text-align:center;'>
  <h3>1) Visualización explicativa del proceso</h3>
  Idea > descúbrete > existe > funciona > incide
</div>

<!-- Agregar 3 calugas en paralelo -->

<!-- Agregar frase explicativa del proyecto -->
<div style='text-align:center;'>
  <h3>!</h3>
  <p>Promovemos la asociatividad entre los ciudadanos, para que desde la sociedad civil organizada se pueda dar impulso a los cambios que queremos.</p>
</div>

<!-- Agregar video embed del video de los pescados vimeo.com/43283294 -->