<% content_for :title do %>Sobre nosotros<% end %>
<h3>ONGenerator</h3>
<p>
Proyecto creado en la Visualizatón + Hackatón
<%= link_to('AbreCL', 'http://abrecl.datos.gob.cl/') %>
durante el 22 y 23 de noviembre de 2014.
</p>
