<% content_for :title do %>Descubre<% end %>
<h2>Descubre</h2>
<p>
<h3>1. ¿Por qué crear una organización civil?</h3>
- No hay nadie que esté haciendo esto.
- Hay otros que están haciendo esto, pero con un enfoque y actividades diferentes. Nosotros lo podríamos hacer mejor.
- Porque queremos.

<h3>2. ¿Cuál es el objeto social de la organización?</h3>
I. Asistencia social,</br>
II. Apoyo a la alimentación popular;</br>
III. Cívicas, enfocadas a promover la participación ciudadana en asuntos de interés público;</br>
IV. Asistencia jurídica;</br>
V. Apoyo para el desarrollo de los pueblos y comunidades indígenas;</br>
VI. Promoción de la equidad de género;</br>
VII. Aportación de servicios para la atención a grupos sociales con discapacidad;</br>
VIII. Cooperación para el desarrollo comunitario en el entorno urbano o rural;</br>
IX. Apoyo en la defensa y promoción de los derechos humanos;</br>
X. Promoción del deporte;</br>
XI. Promoción y aportación de servicios para la atención de la salud y cuestiones sanitarias;</br>
XII. Apoyo en el aprovechamiento de los recursos naturales, la protección del ambiente, la flora y la
fauna, la preservación y restauración del equilibrio ecológico, así como la promoción del desarrollo
sustentable a nivel regional y comunitario, de las zonas urbanas y rurales;</br>
XIII. Promoción y fomento educativo, cultural, artístico, científico y tecnológico;</br>
XIV. Fomento de acciones para mejorar la economía popular;</br>
XV. Participación en acciones de protección civil;</br>
XVI. Prestación de servicios de apoyo a la creación y fortalecimiento de organizaciones que realicen
actividades objeto de fomento por esta ley;</br>
XVII. Promoción y defensa de los derechos de los consumidores;</br>
XVIII. Acciones que promuevan el fortalecimiento del tejido social y la seguridad ciudadana, y</br>
XIX. Las que determinen otras leyes.

<h3>3. Qué nombre le quieren poner? (Y registrar el nombre)</h3>

<h3>4. Qué tipo de miembros tendrá la organización?</h3>

<h3>5. Qué órganos de gobierno tendrá?</h3>

<h3>6. Quién será el representante legal de la organización. (cuáles son las implicaciones?)</h3>

<h3>7. Cómo se elaboran los estatutos? (Formalizar los estatutos.)</h3>

<h3>8. Tramitar el RUT.</h3>

<h3>9. Decidir la estrategia de Financiamiento (y aquí entrar a la parte de las fuentes y fondos)</h3>

<h3>10. Elaborar el reglamento y las políticas institucionales de la organización.</h3>

<h3>11. Cambia el mundo!!!!</h3>
</p>
