<% content_for :title do %>Existe<% end %>
<h3>Existe</h3>
<p>
  <img src="<%= asset_path('assets/its_happening2.jpg') %>" alt="Fundación Ciudadano Inteligente" title="Fundación Ciudadano Inteligente">
</p>
