<% content_for :title do %>Estatuto fundación<% end %>
<h3>Legal</h3>
<p>
  <h2>Estatuto tipo de una fundación</h2>
</p>

<p>
<p class="page-header">ESTATUTO  FUNDACIÓN</p>
<p>En Santiago de Chile, a ___ de _________de_____, siendo las_____ comparecen  los/las sr/sras XXXX NOMBRE XXXX, NACIONALIDAD, ESTADO CIVIL, PROFESION U ODIFICIO, cédula de identidad número XXXXXXX-X, domiciliado en XXXXXXXXXXXX, comuna de XXXX; y, XXXX NOMBRE XXXX, NACIONALIDAD, ESTADO CIVIL, PROFESION U ODIFICIO, cédula de identidad número XXXXXXX-X, domiciliado en XXXXXXXXXXXX, comuna de XXXX; y, XXXX NOMBRE XXXX, NACIONALIDAD, ESTADO CIVIL, PROFESION U ODIFICIO, cédula de identidad número XXXXXXX-X, domiciliado en XXXXXXXXXXXX, comuna de XXXX, quienes vienen a manifestar su voluntad de constituir una Fundación de Derecho Privado, sin fin de lucro, denominada "XXXX NOMBRE ONG XXXXXX”.</p>
<p class="page-header">TITULO 1</p>
<p class="page-header">Del Nombre, Objeto, Domicilio y Duración</p>
<p>Artículo Primero: Se constituye una fundación de derecho privado, sin fines de lucro, regida por las normas del Título XXXIII del Libro Primero del Código Civil, por las disposiciones contenidas en la Ley N° 20.500, sobre Asociaciones y Participación Ciudadana en la Gestión Pública, o por la disposición legal que la reemplace y por los presentes estatutos, que tendrá como domicilio la calle XXXXXXXXXXX, Comuna de XXXXXXXX, Región XXXXXXXXXX, sin perjuicio de las sedes, filiales y establecimientos que pueda formar en otros puntos del país o el extranjero.</p>
<p>Artículo Segundo: El nombre de la Fundación será "XXXXXXXXXXXXX”.</p>
<p>Artículo Tercero: El objeto de la Fundación será _____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________-</p>
<p>La fundación no se propone ni persigue fines de lucro. La Fundación podrá realizar actividades económicas que se relacionen con sus fines; asimismo, podrá invertir sus recursos de la manera que decidan sus órganos de administración.</p>
<p>Las rentas que perciba de esas actividades sólo deberán destinarse a los fines de la Fundación o a incrementar su patrimonio.</p>
<p>Artículo Cuarto: La Fundación tendrá una duración indefinida.</p>
<p class="page-header">TITULO II</p>
<p class="page-header">Del Patrimonio</p>
<p>Artículo Quinto: El patrimonio de la Fundación estará formado por la suma de $XXXXXXXX pesos, que los fundadores destinan y se obligan a aportar por partes iguales a la Fundación tan pronto se inscriba en el Registro Nacional de Personas Jurídicas sin Fines de Lucro a cargo del Registro Civil e Identificación.-</p>
<p>El patrimonio de la Asociación estará formado por los bienes y derechos que forman su patrimonio inicial que son $XXXXXXXXXXX pesos.</p>
<p>Artículo Sexto: Además de los bienes referidos en el artículo precedente, conformarán el patrimonio de la Fundación: a) todos los bienes que ella adquiera a cualquier título y los frutos civiles o naturales que ellos produzcan y b) las herencias, legados, donaciones, erogaciones y subvenciones que ella obtenga de personas naturales o jurídicas, públicas o privadas, nacionales o extranjeras.</p>
<p>Artículo Séptimo: Los recursos que formen parte del patrimonio de la entidad serán aplicados a los fines fundacionales, conforme a las siguientes reglas: a) se privilegiará _________________________________; b) ___________________________; c) ______________________________.</p>
 <p>Asimismo, los beneficiarios de los recursos serán determinados de acuerdo a los siguientes criterios: a) informe al directorio sobre aporte e impacto que generan los proyectos beneficiarios a los objetivos de la fundación; b) informe de finanzas sobre sustentabilidad del proyecto beneficiario.</p>
<p class="page-header">TITULO III</p>
<p class="page-header">De los Órganos de Dirección y Administración</p>
<p>Artículo Octavo: La Fundación será dirigida por un Directorio de siete miembros y administrada por un Director Ejecutivo. El Directorio tendrá a su cargo la dirección superior de la Fundación en conformidad con sus estatutos. Estará compuesto de un Presidente, un Secretario, un Tesorero y XX directores más. El Directorio durará dos años en su cargo.</p>
<p>Los nuevos miembros del Directorio deberán ser designados por el Directorio que esté en funcionamiento a época de tomar la decisión, con el acuerdo de la mayoría absoluta de sus miembros. Los directores podrán ser confirmados en sus cargos cada dos años.</p>
<p>No podrán integrar el Directorio personas que hayan sido condenadas a pena aflictiva.</p>
<p>Los miembros del Directorio cesarán en ellos, en caso de que perdieran la libre administración de sus bienes o que dejaren de asistir por cualquier medio, por más de 6 meses consecutivos a las reuniones de Directorio, sin autorización especial de éste. Con el acuerdo de la totalidad del Directorio, salvo el afectado, se podrá declarar la inhabilidad física o moral o la inconveniencia de que dicho miembro del Directorio continúe en su cargo, procediendo a removerlo.</p>
<p>En caso de fallecimiento, renuncia, remoción o cesación en el cargo de un director, el Directorio, con el acuerdo de la mayoría absoluta de sus miembros nombrará un reemplazante que durará el tiempo que falte al reemplazado.-</p>
<p>El reemplazante desempeñará las funciones que se le asignen, con todas las obligaciones y atribuciones del director que reemplaza. Si, por cualquier motivo, disminuyera el número de directores impidiendo la formación del quórum necesario para sesionar y adoptar acuerdos, serán los Fundadores quienes designarán los Directores que sean necesarios para completar a los faltantes.</p>
<p>Artículo Noveno: El Directorio, en la sesión ordinaria correspondiente al mes de marzo de cada año o cuando se produzca la vacancia en los cargos de Presidente, Secretario o Tesorero, deberá designar de entre sus miembros a las personas encargadas de desempeñarlos, para lo cual deberá cumplir con un quórum de mayoría absoluta.</p>
<p>Artículo Décimo: El Directorio celebrará sesiones ordinarias cada dos meses según el calendario que acuerde para cada período anual. Celebrará, asimismo, sesiones extraordinarias cuando las necesidades del funcionamiento de la Fundación lo requieran; cuando lo soliciten tres de sus miembros; o cuando lo solicite el Presidente del Directorio.</p>
<p>Las citaciones a reunión se harán por medio de correo electrónico a las direcciones registradas por los directores en la Fundación; y las que sean extraordinarias, deberán indicar el objeto de la misma, único que podrá ser materia de la reunión. En todas ellas, debe indicarse: naturaleza de la reunión, el día, hora y lugar en que se celebrará.</p>
<p>Artículo Décimo Primero: El quórum mínimo para que sesione el Directorio será de la mayoría absoluta de los directores, y sus acuerdos se adoptarán por mayoría simple de los asistentes. En caso de empate, decidirá el voto del Presidente del Directorio.</p>
<p>Artículo Décimo Segundo: De las deliberaciones y acuerdos del Directorio se dejará constancia en un libro de actas que llevará el Secretario y las cuales serán firmadas por todos los asistentes. El Director que quisiera salvar su responsabilidad por algún acto o acuerdo del Directorio deberá hacer constar en acta su oposición.</p>
<p>La Fundación deberá mantener permanentemente actualizados los registros de directores, autoridades y miembros ejecutivos que prevean los presentes estatutos.</p>
<p>Artículo Décimo Tercero: Serán deberes y atribuciones del Directorio:</p>
<p>Dirigir a la Fundación y velar porque se cumpla su objeto,</p>
<p>Administrar los bienes de la Fundación e invertir sus recursos,</p>
<p>Nombrar al Director Ejecutivo de la fundación,</p>
<p>Delegar sólo las atribuciones necesarias para ejecutar las medidas económicas que acuerden y las que requiera la organización administrativa interna de la fundación, en el Director Ejecutivo, o el Presidente, en uno o más Directores,</p>
<p>Aprobar y aplicar los Reglamentos necesarios para el adecuado funcionamiento de la Fundación,</p>
<p>Nombrar las Comisiones Asesoras que estime convenientes,</p>
<p>Fiscalizar y apoyar el trabajo del Director Ejecutivo y su equipo ejecutivo, y</p>
<p>Aprobar la admisión de los miembros Colaboradores de que trata el Título IV.</p>
<p>Artículo Décimo Cuarto: El Directorio como administrador de los bienes de la Fundación gozará de las más amplias atribuciones, entendiéndose que tiene todas las facultades que sean necesarias para el cumplimiento de sus finalidades, y sin que la enumeración sea taxativa, podrá: comprar, vender y permutar bienes raíces, bienes muebles y valores inmobiliarios, darlos y tomarlos en arrendamiento; constituir, otorgar, aceptar y posponer hipotecas, prendas, garantías y prohibiciones; otorgar cancelaciones y recibos: percibir; celebrar contratos de trabajo, fijar sus condiciones y ponerles término; celebrar contratos de cuentas corrientes y mutuo y de cuentas corrientes bancarias y mercantiles; abrir y cerrar cuentas corrientes, de depósito, de ahorro y de crédito y girar sobre ellas; retirar talonarios y aprobar saldos; endosar, cancelar, protestar cheques y reconocer saldos; contratar, alzar y posponer prendas; girar, aceptar, avalar, descontar, prorrogar y protestar letras de cambio, libranzas y pagarés y cualquiera otro documento bancario o mercantil; conferir mandatos especiales para asuntos determinados y revocarlos; contratar seguros; pagar las primas, aprobar liquidaciones de los siniestros y percibir el valor de la pólizas; firmar, endosar y cancelar pólizas; estipular en cada contrato que celebre, precio, plazo y condiciones que juzgue conveniente; anular, rescindir, resolver, revocar y terminar dichos contratos; poner término a los contratos vigentes por resolución desahucio o cualquiera otra forma; contratar créditos con fines sociales; presentar y firmar registros de importación y exportación, donar y aceptar donaciones, legados y herencias con beneficio de inventario, concurrir a la constitución y fundación de Asociaciones o Fundaciones sin fines de lucro o asociarse a las ya existentes; delegar en el Presidente, o el Director Ejecutivo, o en uno o más Directores, o en una persona ajena a la Institución, sólo las atribuciones necesarias para ejecutar las medidas económicas que se acuerden y las que requiera la organización administrativa interna de la institución; y en general, ejecutar todos aquellos actos que tiendan a la buena administración de la Fundación.</p>
<p>Artículo Décimo Quinto: El Presidente del Directorio lo será también de la Fundación, la representará judicial y extrajudicialmente y tendrá las demás atribuciones que le señalan los estatutos. El Presidente no requerirá de la asistencia o actuación conjunta de otra persona para ejercer la representación de la Fundación salvo cuando deba girar, aceptar, endosar y cancelar cheques, letras de cambio o libranzas, vales y pagarés, órdenes de crédito y demás documentos comerciales o cuando deba otorgar recibos de dinero, casos éstos en que será necesaria, además de su firma, la de otro cualquiera de los directores.</p>
<p>Artículo Décimo Sexto: Serán deberes y atribuciones del Presidente:</p>
<p>Representar judicial y extrajudicialmente a la fundación,</p>
<p>Convocar y presidir las reuniones de Directorio,</p>
<p>Ejecutar los acuerdos del Directorio,</p>
<p>Apoyar y fiscalizar directamente al Director Ejecutivo y su equipo ejecutivo,</p>
<p>Presentar al Directorio el Presupuesto Anual de la Fundación y el Balance General de sus operaciones y</p>
<p>Velar por el fiel cumplimiento de los estatutos.</p>
<p>Artículo Décimo Séptimo: El Secretario tendrá a su cargo la redacción de las actas de las sesiones de Directorio, el despacho de las citaciones a reunión, el otorgamiento de copias de las actas y firmar la correspondencia y documentación de la Fundación, con excepción de la que corresponda exclusivamente al Presidente. Tendrá el carácter de Ministro de Fe respecto de la documentación a su cargo. En caso de ausencia o impedimento temporal, será reemplazado por el Director que designe el Directorio.</p>
<p>Artículo Décimo Octavo: El Tesorero será responsable de la contabilidad de la Fundación y del control de sus inventarios. En caso de ausencia o impedimento temporal, será reemplazado por el Director que designe el Directorio.</p>
<p>Artículo Décimo Noveno: Los directores no recibirán remuneración alguna por formar parte de El Directorio ni por asistir a sus sesiones. Sin embargo, si adicionalmente algún director prestare algún servicio a la fundación, éste podrá ser remunerado. En estos casos excepcionales, la remuneración será propuesta conjuntamente por el Presidente y el Director Ejecutivo, y aprobada por los miembros del directorio, con exclusión del director que se trate. No serán incompatibles entre si las calidades de Fundador, Director, Director Ejecutivo, y Miembro Colaborador.</p>
<p class="page-header">TITULO IV</p>
<p class="page-header">Del Director Ejecutivo</p>
<p>Artículo Vigésimo: La fundación contará con el personal necesario para el cumplimiento de su objeto,  que estará a cargo y bajo la supervisión de un Director Ejecutivo. El Director Ejecutivo será designado por acuerdo del Directorio, adoptado por a los menos, mayoría absoluta de sus miembros, además el Directorio fijará sus atribuciones y deberes, pudiendo removerlo a su arbitrio. En caso de ausencia o impedimento temporal, el Director ejecutivo será subrogado por la persona que designe el Directorio.</p>
<p>Artículo Vigésimo Primero: El Director Ejecutivo tendrá en especial, pero no taxativamente, los siguientes deberes y atribuciones:</p>
<p>Representar ante toda clase de empresas, instituciones, entidades, personas naturales o jurídicas, nacionales o extranjeras, públicas o privadas con participación estatal, y especialmente, ante el Servicio de Impuestos Internos, Tesorería General de la República, Contraloría General de la República, Aduanas, Dirección e Impacción del Trabajo, Servicio de Seguro Social, Municipalidades, Superintendencia de Seguridad Social, Superintendencia de Pensiones, Superintendencia de Salud, y Ministerio de Justicia, entre otras; hacer prestaciones o solicitudes, tramitarlas realizar toda clase de gestiones y tramitaciones, ante toda clase de organismos e instituciones, hacer peticiones, memorias, minutas, requerir inscripciones, subinscripciones, anotaciones, alzamientos y cancelaciones o facultar para ello a terceros; ejecutar todos aquellos actos que tiendan a la buena administración de la fundación;</p>
<p>Designar y remover a todo el personal que sea necesario para el buen desempeño de los negocios sociales;</p>
<p>Conferir poderes, o delegar total o parcialmente sus facultades en otras personas para casos o negocios especiales;</p>
<p>Informar a el Directorio sobre el manejo, conducción y situación de los asuntos de la Fundación, en la forma y oportunidad que aquél determine;</p>
<p>Dirigir, coordinar y supervisar la acción de las demás áreas ejecutivas, asesores y de apoyo que formen parte de la estructura organizacional de la fundación;</p>
<p>Despachar y firmar correspondencia, ya sea por sí solo cuando ésta sea de mero trámite, o en conjunto con el Presidente;</p>
<p>Confeccionar el Plan de Negocios y el Presupuesto Anual de Ingresos y Gastos, y presentar la Memoria y el Balance Anual al Directorio;</p>
<p>Vigilar que se lleven al día los libros de contabilidad de la fundación que fueren necesarios;</p>
<p>Participar con derecho a voz, pero no a voto, en tanto sea una persona diversa a el Directorio, en las sesiones de el Directorio y Consejos Asesores que se realicen;</p>
<p>Rendir cuenta de su gestión a el Directorio en forma semestral o cada vez que se le solicite;</p>
<p>Ejecutar los acuerdos de el Directorio, y;</p>
<p>Desempeñar otras funciones que acuerde el Directorio y, en general, ejercer las demás prerrogativas que le corresponden conforme a la ley y a estos estatutos. Para el ejercicio de estas funciones, será menester que el Directorio confiera las mismas al Director Ejecutivo, lo cual quedará constancia en el acta respectiva, la que debe ser reducida a escritura pública.</p>
<p>El Director Ejecutivo deberá contar siempre con una autorización previa y por escrito del Presidente o Tesorero del Directorio para cursar gastos, pagar servicios, girar cheques, contraer préstamos, celebrar contratos o constituir garantías por un monto superior a $500.000 (quinientos mil) pesos, o para contratar a una persona en jornada completa, así como para las demás materias que determine El Directorio</p>
<p class="page-header">TITULO V</p>
<p class="page-header">De los Miembros Colaboradores</p>
<p>Artículo Vigésimo Segundo: El Directorio de la Fundación podrá admitir como Miembros Colaboradores a las personas naturales o jurídicas, públicas o privadas, nacionales o extranjeras que así lo soliciten y se comprometan a colaborar gratuitamente en el desarrollo de los fines de la Fundación dándole asistencia técnica, profesional o económica. La condición de Miembro Colaborador no creará vínculo jurídico alguno entre éste y la Fundación.</p>
<p>Artículo Vigésimo Tercero: El Directorio, no obstante, podrá consultar el parecer de uno o más Miembros Colaboradores sobre aspectos relacionados con el objeto de la Fundación e invitarlos, con derecho a voz, a las reuniones de Directorio, y éstos a su vez, podrán hacer proposiciones y sugerir proyectos orientados al desarrollo de la institución. Cuando el número de Miembros Colaboradores exceda de diez, éstos formarán una Comisión que deberá reunirse por lo menos una vez al año y a la que el Directorio podrá remitir sólo a título informativo la Memoria y Balance Anual de la Fundación.</p>
<p class="page-header">TITULO VI</p>
<p class="page-header">De la Reforma de los Estatutos y de la Disolución de la Fundación</p>
<p>Artículo Vigésimo Cuarto: La Fundación podrá modificar sus estatutos sólo por acuerdo del  Directorio, adoptado por la mayoría absoluta de sus miembros, en una sesión extraordinaria citada especialmente para este efecto.-</p>
<p>Los estatutos de la Fundación sólo podrán modificarse, previo informe favorable del Ministerio de Justicia, siempre que la modificación resulte conveniente al interés  fundacional.</p>
<p>Artículo Vigésimo Quinto: La Fundación podrá acordar su disolución sólo con el voto  conforme de la mayoría absoluta de los miembros del Directorio, en una sesión extraordinaria citada especialmente para este efecto.-</p>
<p>En caso de disolución voluntaria o forzada de la Fundación, sus bienes pasarán a la  entidad con personalidad jurídica vigente, que no persigue fines de lucro denominada Fundación Ciudadano Inteligente, y si esta no estuviera en vigencia, al Centro de Derechos Humanos de la Universidad Diego Portales.</p>
<p class="page-header">DISPOSICIONES TRANSITORIAS.</p>
<p>Artículo Primero Transitorio: Se designa al Directorio inicial de la Fundación, en cumplimento de lo dispuesto en el artículo 548 inciso primero del Código Civil y del artículo octavo de estos estatutos, que estará integrado por las personas que a continuación se señalan, las que durarán en sus cargos 2 años posteriores al respectivo Registro en el Servicio de Registro Civil e Identificación:</p>
<p>NOMBRE DEL DIRECTOR</p>
<p>NÚMERO DE RUN</p>
<p>FIRMA</p>












<p>Artículo Segundo Transitorio: 	Se  confiere  poder amplio a don ___________________________________________________________, con domicilio ____________________________________________, para que solicite al Secretario Municipal respectivo el Registro de la personalidad jurídica de esta Fundación, facultándolo para aceptar las modificaciones que las autoridades competentes estimen necesario o conveniente introducirles y, en general, para realizar todas las actuaciones que fueren necesarias para la total legalización de esta Fundación.</p>

<p>________________________________________</p>
<p>XXXXXXXXXXX XXXXXXXXXX XXXXXXX</p>
<p>Cédula de identidad N° XXXXXXXXXXX-X</p>

<p>________________________________________</p>
<p>XXXXXXXXXXX XXXXXXXXXX XXXXXXX</p>
<p>Cédula de identidad N° XXXXXXXXXXX-X</p>


<p>________________________________________</p>
<p>XXXXXXXXXXX XXXXXXXXXX XXXXXXX</p>
<p>Cédula de identidad N° XXXXXXXXXXX-X</p>



<p>________________________________________</p>
<p>XXXXXXXXXXX XXXXXXXXXX XXXXXXX</p>
<p>Cédula de identidad N° XXXXXXXXXXX-X</p>


</p>