<% content_for :title do %>Funciona<% end %>
<h3>Funciona</h3>
<p>
  <h2>Busca un fondo adecuado a tus blabla</h2>
</p>

<form action="../funds/searches">
  Palabra clave:<br>
  <input type="text" name="palabraclave" value="Fondos indigenas">
  <br>
  Algo:<br>
  <input type="text" name="algo" value="Blabla">
  <br><br>
  <input type="submit" value="Enviar">
</form>
